<link rel="stylesheet" href="layouts/v7/modules/Goodsservices/resources/style.css" type="text/css" />

{assign var=list value=$list}

<div id="wait" style="display:none;position:absolute;top: 50%;left:45%;padding:2px;z-index: 1001;"><img src="/resources/loading.gif"></div>
	<table id="listview-table" class="table listview-table">
				<thead>       
					<tr class="listViewContentHeader">
            <th>Paslauga</th>  
            <th>Buhalteris kodas</th>  
            <th>Buhalterinio požymio ID</th>  
            <th>Sandėlio kodas</th>  
            <th>Veiksmas</th>           
          </tr>	
				</thead>        
				<tbody>             
        {foreach from=$list item=item}    
          <tr>
            <td class="listViewEntryValue">{$item["name"]}</td>
            <td class="listViewEntryValue">{if $item["code"]}{$item['code']}{else}---{/if}</td>
            <td class="listViewEntryValue">{$item['code_id']}</td>
            <td class="listViewEntryValue">{if $item["storage_code"]}{$item['storage_code']}{else}---{/if}</td>
            <td class="listViewEntryValue"><a href="index.php?module=Goodsservices&view=Edit&record={$item['id']}">Redaguoti</a></td>      
          </tr>	 
        {/foreach}          
				</tbody>
			</table>       







