.info-block {
  display: inline-flex;
}

.main-block {
  display: block;
  margin-bottom: 10px;
}

.price {
  width: 50px !important;
}

.remove {
  margin-top: 8px;
  margin-left: 5px;
  cursor: pointer;
}