{*+**********************************************************************************
* The contents of this file are subject to the vtiger CRM Public License Version 1.1
* ("License"); You may not use this file except in compliance with the License
* The Original Code is: vtiger CRM Open Source
* The Initial Developer of the Original Code is vtiger.
* Portions created by vtiger are Copyright (C) vtiger.
* All Rights Reserved.
*************************************************************************************}

{strip}
{assign var="FIELD_INFO" value=$FIELD_MODEL->getFieldInfo()}
{assign var="SPECIAL_VALIDATOR" value=$FIELD_MODEL->getValidator()}

{assign var=INVOICE_TYPE value=$INVOICE_TYPE}

{if $FIELD_MODEL->getFieldName() eq 'cf_2667'}
	{assign var=PICKLIST_VALUES value=$KREDITINES}
{* {else if $FIELD_MODEL->getFieldName() eq 'debts_tks_tipas'}
	{assign var=PICKLIST_VALUES value=$INVOICE_TYPES} *}
{else}
	{assign var=PICKLIST_VALUES value=$FIELD_INFO['picklistvalues']}
{/if}

{assign var=PICKLIST_COLORS value=$FIELD_INFO['picklistColors']}

<input type="hidden" id="invoice_type" value={$INVOICE_TYPE}>
<select {if $FIELD_MODEL->getFieldName() eq 'debts_tks_tipas'}onchange="ShowHideCreditInvoices(this);"{else if $FIELD_MODEL->getFieldName() eq 'cf_2667'}onchange="checkCreditSum();"{/if} data-fieldname="{$FIELD_MODEL->getFieldName()}" data-fieldtype="picklist" class="inputElement select2 {if $OCCUPY_COMPLETE_WIDTH} row {/if}" type="picklist" name="{$FIELD_MODEL->getFieldName()}" {if !empty($SPECIAL_VALIDATOR)}data-validator='{Zend_Json::encode($SPECIAL_VALIDATOR)}'{/if} data-selected-value='{$FIELD_MODEL->get('fieldvalue')}'
	{if $FIELD_INFO["mandatory"] eq true} data-rule-required="true" {/if}
	{if count($FIELD_INFO['validator'])}
		data-specific-rules='{ZEND_JSON::encode($FIELD_INFO["validator"])}'
	{/if}
	>
	{if $FIELD_MODEL->isEmptyPicklistOptionAllowed()}<option value="">{vtranslate('LBL_SELECT_OPTION','Vtiger')}</option>{/if}
	{foreach item=PICKLIST_VALUE key=PICKLIST_NAME from=$PICKLIST_VALUES}
		{if $FIELD_MODEL->getFieldName() eq 'cf_2667'}	
			{$REST_DEBT = $PICKLIST_VALUE['debt']}	
			{$PICKLIST_VALUE = $PICKLIST_VALUE['title']}		
		{/if}	
		<option {if $FIELD_MODEL->getFieldName() eq 'cf_2667'}data-rest-debt="{$REST_DEBT}"{/if} value="{$PICKLIST_NAME}"  {if trim(decode_html($FIELD_MODEL->get('fieldvalue'))) eq trim($PICKLIST_NAME)} selected {/if}>{$PICKLIST_VALUE}</option>
	{/foreach}
</select>
{if $PICKLIST_COLORS}
	<style type="text/css">
		{foreach item=PICKLIST_VALUE key=PICKLIST_NAME from=$PICKLIST_VALUES}
		{assign var=CLASS_NAME value="{$FIELD_MODEL->getFieldName()}_{$PICKLIST_NAME|replace:' ':'_'}"}
		.picklistColor_{$CLASS_NAME} {
			background-color: {$PICKLIST_COLORS[$PICKLIST_NAME]} !important;
			{if $PICKLIST_COLORS[$PICKLIST_NAME] eq '#ffffff'}
			color: #000000 !important;
			{/if}
		}
		.picklistColor_{$CLASS_NAME}.select2-highlighted {
			white: #ffffff !important;
			background-color: #337ab7 !important;
		}
		{/foreach}
	</style>
{/if}
{/strip}
