.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

[data-show] {
  cursor: pointer;
}

.remove_a_class {
  padding: unset !important;
}

.remove_a_class:hover {
  background: unset !important;
}

.table tr {
  height: 30px;
}

.table tr:nth-child(even){
  background-color: #f2f2f2;
}

.table #list tr:hover {
  background-color: #ddd;
}

.listview-table tr td:first-child {
  width: unset;
}

.table .list-group {
   margin: 0;
}

.table .list-group-item {
  background: transparent;
  padding: 0 4px;
  min-height: 25px;
}

.table .list-group-item2 {
  list-style: none;
  padding: 0 3px;
  min-height: 2.494rem;
}

.table .list-group-item:hover:not(.not-hover) {
  cursor: pointer;
  background: #ddd;
}

.alert-danger-input {
  color: #a94442;
  background-color: #f2dede;
  border-color: #d59595;
  border: 1px solid #e57070;
  border-radius: 2px;
}

.alert-warning-input {
  color: #a94442;
  background-color: #fff3cd;
  border-color: #d59595;
  border: 1px solid #5a584f;
  border-radius: 2px;
}


.select2-choice,
.select2-search,
.select2-drop,
.select2-container {
  width: 397px !important;
}



.autocomplete {
  position: relative;
  display: inline-block;
}

/* .productName {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}   */

.selected2 {
  background: rgb(235, 235, 228);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}


.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items-employee {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
}


.autocomplete-items-employee div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items-employee div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active-employee {
  background-color: DodgerBlue !important;
  color: #ffffff;
}



.pagination {
  display: inline-flex;
  justify-content: center !important;
  width: 100%;
  margin-top: 30px;
}

.pagination div {
  display: inline-flex;
  float: left;
  padding: 8px 16px;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}