.modal {
  top: 100px;
}


/* #selectas {
  width: 500px;
  margin: 20px 10px;
  justify-content: center;
  text-align: center;
}

#show {
  top: 0%;
  text-align: center;
  display: inline-block;
  padding:0 10px;  

}

#show li {
  width: 60%;
}


#show-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;

}

#maintr {
  text-align: center;
}

.container tr{
  width: 80%;
} */


/* .select2-selected {
  display: block !important;
} */


