html {
  scroll-behavior: smooth;
}

body {
  padding-top: 5rem;
}

.company-logo {
  height: 40px;
  width: 150px;
  margin: 0 0;
  display: inline-block;
  margin-left: 1px;
}

.company-logo img {
  max-height: 100%;
  max-width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-left: 20px;
}

.table {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 10px 8px 0px 10px !important;
}

.listview-table>thead>tr>th {
  text-align: center !important;
}

.inputElement {
  height: 30px;
  width: 100%;
  border-radius: 1px;
  box-shadow: none;
  border: 1px solid #cccccc;
}

input[type="text"].inputElement,
input[type="password"].inputElement {
  padding: 3px 8px;
}

.header th {
  font-size: 13px;
}

.input input,textarea {
  font-size: 12px;
}

.select2-choice,
.select2-search,
.select2-drop,
.select2-container {
  width: 397px !important;
}



.autocomplete {
  position: relative;
  display: inline-block;
}

/* .productName {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}   */

.selected2 {
  background: rgb(235, 235, 228);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}


.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items-employee {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  text-align: left;
  width: 200px;
  /*position the autocomplete items to be the same width as the container:*/
}


.autocomplete-items-employee div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items-employee div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active-employee {
  background-color: DodgerBlue !important;
  color: #ffffff;
}