{*<!--
/*********************************************************************************
** The contents of this file are subject to the vtiger CRM Public License Version 1.0
* ("License"); You may not use this file except in compliance with the License
* The Original Code is: vtiger CRM Open Source
* The Initial Developer of the Original Code is vtiger.
* Portions created by vtiger are Copyright (C) vtiger.
* All Rights Reserved.
********************************************************************************/
-->*}
<link rel="stylesheet" href="layouts/v7/modules/Demand/resources/style.css" type="text/css" />
<script src="layouts/v7/modules/Demand/resources/main.js"></script>
{strip}
	{if !empty($PICKIST_DEPENDENCY_DATASOURCE)}
		<input type="hidden" name="picklistDependency" value='{Vtiger_Util_Helper::toSafeHTML($PICKIST_DEPENDENCY_DATASOURCE)}' />
	{/if}

	{$RECORD_ID}

	<input type="hidden" name="flag" value="{$FLAG}">
	<input type="hidden" name="user_status" value="{$USER_STATUS}">
	<input type="hidden" name="current_action" value="{$CURRENT_ACTION}">
	<input type="hidden" name="current_status" value="{$CURRENT_STT}">
	<div name='editContent'>
		{if $DUPLICATE_RECORDS}
			<div class="fieldBlockContainer duplicationMessageContainer">
				<div class="duplicationMessageHeader"><b>{vtranslate('LBL_DUPLICATES_DETECTED', $MODULE)}</b></div>
				<div>{getDuplicatesPreventionMessage($MODULE, $DUPLICATE_RECORDS)}</div>
			</div>
		{/if}
		{foreach key=BLOCK_LABEL item=BLOCK_FIELDS from=$RECORD_STRUCTURE name=blockIterator}
			{if $BLOCK_FIELDS|@count gt 0}
				<div class='fieldBlockContainer' data-block="{$BLOCK_LABEL}">
					<h4 class='fieldBlockHeader'>{vtranslate($BLOCK_LABEL, $MODULE)}</h4>
					<hr>
					<table class="table table-borderless">
						<tr>
							{assign var=COUNTER value=0}
							{foreach key=FIELD_NAME item=FIELD_MODEL from=$BLOCK_FIELDS name=blockfields}
								{assign var="isReferenceField" value=$FIELD_MODEL->getFieldDataType()}
								{assign var="refrenceList" value=$FIELD_MODEL->getReferenceList()}
								{assign var="refrenceListCount" value=count($refrenceList)}
								{if $FIELD_MODEL->isEditable() eq true}
									{if $FIELD_MODEL->get('uitype') eq "19"}
										{if $COUNTER eq '1'}
											<td></td><td></td></tr><tr>
											{assign var=COUNTER value=0}
										{/if}
									{/if}
									{if $COUNTER eq 2}
									</tr><tr>
										{assign var=COUNTER value=1}
									{else}
										{assign var=COUNTER value=$COUNTER+1}
									{/if}
									<td class="fieldLabel alignMiddle"{if $FIELD_MODEL->get('label') =='Status'}id="can_stt_lbl"{/if}{if $FIELD_MODEL->get('label') =='Action'}id="can_action_lbl"{/if}>
										{if $isReferenceField eq "reference"}
											{if $refrenceListCount > 1}
												{assign var="DISPLAYID" value=$FIELD_MODEL->get('fieldvalue')}
												{assign var="REFERENCED_MODULE_STRUCTURE" value=$FIELD_MODEL->getUITypeModel()->getReferenceModule($DISPLAYID)}
												{if !empty($REFERENCED_MODULE_STRUCTURE)}
													{assign var="REFERENCED_MODULE_NAME" value=$REFERENCED_MODULE_STRUCTURE->get('name')}
												{/if}
												<select style="width: 140px;" class="select2 referenceModulesList">
													{foreach key=index item=value from=$refrenceList}
														<option value="{$value}" {if $value eq $REFERENCED_MODULE_NAME} selected {/if}>{vtranslate($value, $value)}</option>
													{/foreach}
												</select>
											{else}
												{vtranslate($FIELD_MODEL->get('label'), $MODULE)}
											{/if}
										{else if $FIELD_MODEL->get('uitype') eq "83"}
											{include file=vtemplate_path($FIELD_MODEL->getUITypeModel()->getTemplateName(),$MODULE) COUNTER=$COUNTER MODULE=$MODULE}
											{if $TAXCLASS_DETAILS}
												{assign 'taxCount' count($TAXCLASS_DETAILS)%2}
												{if $taxCount eq 0}
													{if $COUNTER eq 2}
														{assign var=COUNTER value=1}
													{else}
														{assign var=COUNTER value=2}
													{/if}
												{/if}
											{/if}
										{else}
											{if $MODULE eq 'Documents' && $FIELD_MODEL->get('label') eq 'File Name'}
												{assign var=FILE_LOCATION_TYPE_FIELD value=$RECORD_STRUCTURE['LBL_FILE_INFORMATION']['filelocationtype']}
												{if $FILE_LOCATION_TYPE_FIELD}
													{if $FILE_LOCATION_TYPE_FIELD->get('fieldvalue') eq 'E'}
														{vtranslate("LBL_FILE_URL", $MODULE)}&nbsp;<span class="redColor">*</span>
													{else}
														{vtranslate($FIELD_MODEL->get('label'), $MODULE)}
													{/if}
												{else}
													{vtranslate($FIELD_MODEL->get('label'), $MODULE)}
												{/if}
											{else}
												{vtranslate($FIELD_MODEL->get('label'), $MODULE)}
											{/if}
										{/if}
										&nbsp;{if $FIELD_MODEL->isMandatory() eq true} <span class="redColor">*</span> {/if}
									</td>
									{if $FIELD_MODEL->get('uitype') neq '83'}
										<td class="fieldValue" {if $FIELD_NAME =='candidate_status'}id="candidate_status"{/if}{if $FIELD_NAME =='candidate_action'}id="candidate_action"{/if}{if $FIELD_MODEL->getFieldDataType() eq 'boolean'} style="width:25%" {/if} {if $FIELD_MODEL->get('uitype') eq '19'} colspan="3" {assign var=COUNTER value=$COUNTER+1} {/if}>
											{if $FIELD_NAME =='demand_tks_searchsources'}
												{* demand_tks_searchsources *}
											 <div class="block-parent">
												<div class="hide main-block-CloneCopy">
													<div class="info-block">
														<input name="source0" id="source0" class="inputElement source" placeholder="Šaltinis">&nbsp;
														<input name="price0" id="price0" class="inputElement price" placeholder="Kaina">&nbsp;
														<i class="fa fa-trash remove"></i>
													</div>
												</div>

												{if $RECORD_ID eq ''}

												<div class="main-block">
													<div class="info-block">
														<input name="source1" id="source1" class="inputElement source" placeholder="Šaltinis">&nbsp;
														<input name="price1" id="price1" class="inputElement price" placeholder="Kaina">&nbsp;
														<i class="fa fa-trash remove"></i>
													</div>
												</div>

												{else}
													{assign var=SOURCE value=explode(',',$FIELD_MODEL->get('fieldvalue'))}
												
													{foreach from=$SOURCE item=item}													
														{$sour = explode('|##|',$item)}
														<div class="main-block">
															<div class="info-block">
																<input name="source1" id="source1" class="inputElement source" placeholder="Šaltinis" value="{$sour[0]}">&nbsp;
																<input name="price1" id="price1" class="inputElement price" placeholder="Kaina" value="{$sour[1]}">&nbsp;
																<i class="fa fa-trash remove"></i>
															</div>
														</div>
													{/foreach}
												{/if}

											</div>
											<input type="hidden" id="number_of_sources" name="number_of_sources" value="1">
											<input type="button" id="addNewBlock" class="btn btn-primary" value="Pridėti naują">
											{else}
												{include file=vtemplate_path($FIELD_MODEL->getUITypeModel()->getTemplateName(),$MODULE)}								
										{/if}
										</td>
									{/if}
								{/if}
							{/foreach}

     

							{*If their are odd number of fields in edit then border top is missing so adding the check*}
							{if $COUNTER is odd}
								<td></td>
								<td></td>
							{/if}
						</tr>
					</table>
				</div>
			{/if}
		{/foreach}
	</div>
{/strip}
