.listview-table>thead>tr>th {
  text-align: center !important;
}

.listview-table>tbody>tr>td {
  text-align: center;
  padding: 13px 0;
}

/* .listViewEntries td:not(:first-child) {
  cursor: unset;
} */

.listview-table tr td:first-child,
.listview-table tr th:first-child {
  width: unset;
}

.table-container {
  border: unset;
  margin-top: unset;
}

.app-fixed-navbar {
  border-bottom: 1px solid #ddd !important;
}

.price-bold {
  font-weight: bold;
}

.listview-table>tbody>tr>td {
  vertical-align: unset !important;
}
