    table {
      width: 100%;
    }

    .listview-table th {
      font-size: 10px;
    } 
    .listview-table td {
      font-size: 12px;
    } 
  
    .listview-table>thead>tr>th {
      text-align: center !important;
    }  
    
    .listview-table>tbody>tr>td {
      text-align: center;      
      border-top: unset !important;
    }        

    .listview-table tr td:first-child,
    .listview-table tr th:first-child {
      width: unset;
    }