.listview-table>thead>tr>th {
  text-align: center !important;
}

.listview-table>tbody>tr>td {
  text-align: center;
  padding: 13px 0;
}

/* .listViewEntries td:not(:first-child) {
  cursor: unset;
} */

.listview-table tr td:first-child,
.listview-table tr th:first-child {
  width: unset;
}

.table-container {
  border: unset;
  margin-top: unset;
}

.app-fixed-navbar {
  border-bottom: 1px solid #ddd !important;
}

.price-bold {
  font-weight: bold;
}

.listview-table>tbody>tr>td {
  vertical-align: unset !important;
}


.pagination {
  display: inline-flex;
  justify-content: center !important;
  width: 100%;
  margin-top: 30px;
}

.pagination div {
  display: inline-flex;
  float: left;
  padding: 8px 16px;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}


.container {
  width: 90%;
}

.selected {
  background: #3cb878;
  color: #FFF;
}

.selected:hover {
  color: #FFF;
  outline: 0;
}

.selected:focus {
  color: #FFF;
  outline: 0;
}


.block {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-save-wrap {
  position: absolute;
  margin-top: -30px;
  margin-left: 341px;
}


.select2-choice,
.select2-search,
.select2-drop,
.select2-container {
  width: 397px !important;
}



.autocomplete {
  position: relative;
  display: inline-block;
}

/* .productName {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}   */

.selected2 {
  background: rgb(235, 235, 228);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}


.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items-employee {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  text-align: left;
  width: 70%;
  /*position the autocomplete items to be the same width as the container:*/
}


.autocomplete-items-employee div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items-employee div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active-employee {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


.disabled {
  background: silver;
}

#new_address td {
  padding: 10px;
}

#new_address2 td {
  padding: 10px;
}