{*+**********************************************************************************
* The contents of this file are subject to the vtiger CRM Public License Version 1.1
* ("License"); You may not use this file except in compliance with the License
* The Original Code is: vtiger CRM Open Source
* The Initial Developer of the Original Code is vtiger.
* Portions created by vtiger are Copyright (C) vtiger.
* All Rights Reserved.
************************************************************************************}
{strip}
<!--LIST VIEW RECORD ACTIONS-->
{if $REAL_MODULE_NAME eq 'Unpaidinvoices'}
<style>
.popover {
    max-width: 400px !important;
}
</style>
{/if}
<div class="table-actions" {if $REAL_MODULE_NAME eq 'Unpaidinvoices'} style="width: 135px;"{/if}>
    {if !$SEARCH_MODE_RESULTS}
    <span class="input" >
        <input type="checkbox" value="{$LISTVIEW_ENTRY->getId()}" class="listViewEntriesCheckBox"/>
    </span>
    {/if}
    {if $LISTVIEW_ENTRY->get('starred') eq 'Yes'}
        {assign var=STARRED value=true}
    {else}
        {assign var=STARRED value=false}
    {/if}
    {if $REAL_MODULE_NAME eq 'Unpaidinvoices'}
    {assign var=HAS_COMMENT value=$LISTVIEW_ENTRY->getRaw('commentcontent')}
        <span>
            <a class="action comments_popover" data-invoice-id="{$LISTVIEW_ENTRY->getId()}"
                title="{vtranslate('LBL_COMMENT', $REAL_MODULE_NAME)}" 
                rel="popover" 
                data-html="true"
                data-toggle="popover"               
                data-content='<textarea cols="50" rows="5"></textarea>
                <button class="btn btn-success btn-sm btn-block saveComment">Įrašyti</button>
                <div id="newestComments"></div>
                '>
                <i class="fa fa-comment" title="{vtranslate('LBL_COMMENT', $REAL_MODULE_NAME)}" {if $HAS_COMMENT}style="color: red;"{/if}></i>
            </a>
		</span>
    {/if}

  {if $REAL_MODULE_NAME neq 'Purchaseinvoice' && $REAL_MODULE_NAME neq 'Payment' && $REAL_MODULE_NAME neq 'Exportpayment'}  

    {if $QUICK_PREVIEW_ENABLED eq 'true'}
		<span>
			<a class="quickView fa fa-eye icon action" data-app="{$SELECTED_MENU_CATEGORY}" title="{vtranslate('LBL_QUICK_VIEW', $MODULE)}"></a>
		</span>
    {/if}
	{if $MODULE_MODEL->isStarredEnabled()}
		<span>
			<a class="markStar fa icon action {if $STARRED} fa-star active {else} fa-star-o{/if}" title="{if $STARRED} {vtranslate('LBL_STARRED', $MODULE)} {else} {vtranslate('LBL_NOT_STARRED', $MODULE)}{/if}"></a>
		</span>
	{/if}
    <span class="more dropdown action">
        <span href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v icon"></i></span>
        <ul class="dropdown-menu">
            <li><a data-id="{$LISTVIEW_ENTRY->getId()}" href="{$LISTVIEW_ENTRY->getFullDetailViewUrl()}&app={$SELECTED_MENU_CATEGORY}">{vtranslate('LBL_DETAILS', $MODULE)}</a></li>
			{if $RECORD_ACTIONS}
				{if $RECORD_ACTIONS['edit']}
					<li><a data-id="{$LISTVIEW_ENTRY->getId()}" href="javascript:void(0);" data-url="{$LISTVIEW_ENTRY->getEditViewUrl()}&app={$SELECTED_MENU_CATEGORY}" name="editlink">{vtranslate('LBL_EDIT', $MODULE)}</a></li>
				{/if}
				{if $RECORD_ACTIONS['delete']}
					<li><a data-id="{$LISTVIEW_ENTRY->getId()}" href="javascript:void(0);" class="deleteRecordButton">{vtranslate('LBL_DELETE', $MODULE)}</a></li>
				{/if}
			{/if}
        </ul>
    </span>
{/if}
    <div class="btn-group inline-save hide">
        <button class="button btn-success btn-small save" type="button" name="save"><i class="fa fa-check"></i></button>
        <button class="button btn-danger btn-small cancel" type="button" name="Cancel"><i class="fa fa-close"></i></button>
    </div>
</div>
{/strip}
