 {assign var=CURRENT_USER value=$CURRENT_USER}
	<input type="hidden" name="controller" value="AddDocType">
 <input type="hidden" name="current_user" value="{$CURRENT_USER->id}">
        <div class="detailViewContainer viewContent clearfix" style="margin-bottom: 150px;">
            <div class="col-sm-12 col-xs-12">
                <div class="detailview-content container-fluid" style="margin-top: 20px">            									
									<div class="block">													
											<div>	<h4 class="textOverflowEllipsis maxWidth50">Nauja kategorija</h4></div>
											<hr>
												<div class="blockData">
													<table class="table detailview-table no-border">
														<tbody>	
															<tr>
																<td class="fieldLabel textOverflowEllipsis" style="width:10%;">
																	<span class='muted'>Tipo pavadinimas</span>
																</td>	
																<td class="fieldValue" style="width:10%;">
																	<input class="inputElement" name="title" style="width: 50%;">																
																</td>	
																<td class="fieldLabel textOverflowEllipsis" style="width:10%;">
																	<span class='muted'>Veikimas</span>
																</td>	
																<td class="fieldValue" style="width:10%;">
																	<select class="inputElement" name="type" style="width: 50%;">
																		<option value="0">Automatiškai nepildomas</option>																	
																		<option value="1">Pildomas automatiškai</option>																	
																	</select>
																</td>	
															<tr>
														</tbody>
													</table>
												</div>
									</div>
									<br>		
							</div>
         </div>		
			</div>