		<div name='editContent'>
		<div class='fieldBlockContainer'>
		<h4 class='fieldBlockHeader'>Darbo sutarties eilės numeris</h4>
		<hr>
			<input type="hidden" name="controller" value="SettingsEditRowNo">			
				<table class="table detailview-table no-border">
							<tbody>							
									<tr>															
										<td class="fieldLabel textOverflowEllipsis">
											<input type="text" name="employment_contract_no" class="inputElement" value="{$NUMBER}">
										</td>																																									
									</tr>
					
							</tbody>
						</table>      
		</div>
	</div>