.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

small {
  font-size: 80%;
}

.link-hover:hover {
  color: #c6c23a;
}

.list-group-item .delete, .plus {
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 3px;
}

.list-group-item .plus:hover {
  background: #faa937;
  color: black;
}

.list-group-item .delete:hover {
  background: #fb7171;
  color: black;
}

.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  display: inline-flex;
  justify-content: center !important;
  width: 100%;
  margin-top: 30px;
}

.pagination div {
  display: inline-flex;
  float: left;
  padding: 8px 16px;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}


.file-chosen{
  font-weight: 700;
  font-size: 14px;
  color: brown;
  word-wrap: break-word;
  width: 300px;
}

.plus,.delete {
  cursor: pointer;
}