{assign var=SOURCE value=explode(',',$FIELD_MODEL->getDisplayValue($FIELD_MODEL->get('fieldvalue')))}
<ul>
{foreach from=$SOURCE item=item}
<li style="list-style: none;">{str_replace('|##|',' €',$item)}</li>  
{/foreach}
</ul>