<style>
  .autocomplete {
  position: relative;
  display: inline-block;
}

/* .productName {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}   */

.selected2 {
  background: rgb(235, 235, 228);
}


.selected {
  background: rgb(235, 235, 228);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}


.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items-employee {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  text-align: left;
  width: 70%;
  /*position the autocomplete items to be the same width as the container:*/
}


.autocomplete-items-employee div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items-employee div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active-employee {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


.disabled {
  background: silver;
}

#new_address td {
  padding: 10px;
}

#new_address2 td {
  padding: 10px;
}
</style>

<div class="modal fade" id="selectCitiesModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 700px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pasirinkite kryptis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Į abi puses <input id="bothSides" type="checkbox" class="inputElement"
          title="Pažymėjus kryptys galios į abi puses" onclick="updateBothSide();"><br><i class="fa fa-arrow-left"
          style="color: grey;"></i><i class="fa fa-arrow-right" style="color: grey;"></i>
        <table class="table">
          <thead>
            <tr>
              <td>Tipas</td>
              <td>Iš kur</td>
              <td>Į kur</td>
              <td width="10px;">P/K</td>
              <td width="10px;">Adr.</td>
              <td width="10px;"></td>
            </tr>
          </thead>
          <tbody class="modal-table">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div style="display:inline-block; float: left;">
          <span style="display: flex;">P/K&nbsp; -&nbsp; Pašto kodai</span>
          <span style="display: flex;">Adr.&nbsp; -&nbsp; Konkretus adresas</span>
          <span style="display: flex;"><i class="fa fa-arrow-left" style="color: grey;"></i><i class="fa fa-arrow-right" style="color: grey;"></i>&nbsp;&nbsp; Galioja į abi puses</span>
      </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
        <button type="button" class="btn btn-primary" data-add-field="modal">Pridėti laukelį</button>
        <button type="button" class="btn btn-success" data-save="modal">Išsaugoti</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNewAddress" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="top: 30px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  id="ModalLabel">Naujų adresų sukūrimas</h5>
      </div>
      <div class="modal-body">
       <div id="wait3" style="display:none;position:absolute;top:50%;left:30%;padding:2px;"><img src="/resources/loading.gif"></div>
 <label>Pakrovimas</label>
 <input type="hidden" id="fromInput">
 <input type="hidden" id="toInput">
<table id="new_address">
<tr>
<td>
  <div class="form-group">
    <label>Įmonė</label>
    <input type="text" class="form-control" name="title"> 
		<div id="req-title" class="alert alert-danger hide">Įveskite įmonę</div>  	
  </div>
</td>
<td>
  <div class="form-group">
    <label>Miestas:</label>
    <input type="text" class="form-control" name="city">
		<div id="req-city" class="alert alert-danger hide">Įveskite miestą</div>  
  </div>
</td>
<td>
  <div class="form-group">
    <label>Adresas:</label>
    <input type="text" class="form-control" name="address">
		<div id="req-address" class="alert alert-danger hide">Įveskite adresą</div>  
  </div>
</td>

<td>
  <div class="form-group">
    <label>Pašto kodas:</label>
    <input type="text" class="form-control" name="code">
		<div id="req-code" class="alert alert-danger hide">Įveskite pašto kodą</div>  
  </div>
</td>

</tr>
</table>

 <label>Iškrovimas</label>
 <table id="new_address2">
<tr>
<td>
  <div class="form-group">
    <label>Įmonė</label>
    <input type="text" class="form-control" name="title2"> 
		<div id="req-title2" class="alert alert-danger hide">Įveskite įmonę</div>  
  </div>
</td>

<td>
  <div class="form-group">
    <label>Miestas:</label>
    <input type="text" class="form-control" name="city2">
		<div id="req-city2" class="alert alert-danger hide">Įveskite miestą</div>  
  </div>
</td>

<td>
  <div class="form-group">
    <label>Adresas:</label>
    <input type="text" class="form-control" name="address2">
		<div id="req-address2" class="alert alert-danger hide">Įveskite adresą</div>  
  </div>
</td>


<td>
  <div class="form-group">
    <label>Pašto kodas:</label>
    <input type="text" class="form-control" name="code2">
		<div id="req-code2" class="alert alert-danger hide">Įveskite pašto kodą</div>  
  </div>
</td>
</tr>
</table>
      </div>
      <div class="modal-footer">
				<button type="button" id="submit_new_address" class="btn btn-primary">Išsaugoti</button>
        <button type="button" class="btn btn-secondary dismiss" data-dismiss="modal">Uždaryti</button>
      </div>
    </div>
  </div>
</div>
