strong , td>h5, .muted, td>span{
  float: left;
}

div>h5, div>p {
  justify-content: center;
}

.dimens {
  display: flex;
}

.paid_price {
  float: right;
}

.close_btn {
  background: transparent;
  border: none;
  font-size: 26px;
  float: right;
  position: absolute;
  left: 97%;
  top: -0.5%;
}

.my_modal {
  position: relative;
}

.modal-dialog2 {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;
  margin-top: 0px;
}

.block {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  padding-left: 15px;
  padding-right: 15px;
}

.form-horizontal .form-group {
  margin-right: unset; 
  margin-left: unset;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
 
/* .productName {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}   */

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}


.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.autocomplete-items-employee {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
}


.autocomplete-items-employee div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items-employee div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active-employee {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
