.value {
  padding: 5px 5px !important;  
}

/* .listViewEntries {
  cursor:pointer;
} */

 .listview-table>thead>tr>th:first-child {
  width: 30% !important;
}

.files-list>tr>td:first-child {
  width: 30% !important;
}

.overflow-y {
  overflow-y: auto;
  display: block;
  height: 500px;
}

.lists-menu {
  padding-left: 0;
}

.lists-menu li {
  list-style: none;
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

/* width */
.files-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.files-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.files-list::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 10px;
}

/* Handle on hover */
.files-list::-webkit-scrollbar-thumb:hover {
  background: rgb(252, 241, 241); 
}

