.lists-menu li:hover {
  background: none;
}

.lists-menu li a:hover {
  background: #F7F7F7;
  color: #666666;
}

.submenu {
  padding-left: 20px;
}

.submenu li {
  padding-left: 0;
}

.show-subfolders {
  cursor: pointer;
}