.vicon-notifications:before{
    content: '\e606';
}
#headerNotificationList {
    width: 500px;
    max-height: 400px;
    overflow-y: auto;
    position: fixed;
    top: 40px;
    right: -1px;
    background: #2c3b49;
    padding-left:10px;
    padding-right: 10px;
}

#headerNotificationListForPopUp {
    width: 500px;
    max-height: 400px;
    overflow-y: auto;
    position: fixed;
    top: 80px;
    right: -1px;
    background: #2c3b49;
    padding-left:10px;
    padding-right: 10px;
    z-index: 1020;
}

.divider2 {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #ebebeb;
}

.notification_thumbnail {
    width: 30%;
    float: left;
}

.notification_detail {
    width: 92%;
    float: left;
}

.notification_count {
    background-color: rgb(215, 77, 47);
    border-radius: 50%;
    color: white;
    display: inline;
    height: 20px;
    margin-left: -5px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    width: 20px;
}

.notification_detail span {
    display: block;
    /*white-space: nowrap;*/
    /*overflow: hidden !important;*/
    /*text-overflow: ellipsis;*/
    /*width: 232px;*/
    margin: 2px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.notification_full_name {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: yellow;
}

.notification_description {
    font-style: italic;
    color: #fff;
}
.notification_createdtime {
    color: #afafaf;
}

a.notification_link:hover {
    background: transparent !important;
    color: #0b0b0b !important;
    cursor: default;
}

.notification-container {
    position: relative;
}

/*If icon*/
.notification-container .icon {
    right: 0;
    position: absolute;
    cursor: pointer;
}

.notification-container .icon.icon-ok {
    top: 0;
}

.notification-container .icon.icon-pp {
    bottom: 0;
}

/*If button*/
.notification-container .btn {
    margin: 4px;
    right: -12px;
    position: absolute;
}

.notification-container .btn.btn-success {
    top: -12px;
}

.notification-container .btn.btn-warning {
    bottom: -8px;
}
