{*
<!--
/*+***********************************************************************************
* The contents of this file are subject to the vtiger CRM Public License Version 1.1
* ("License"); You may not use this file except in compliance with the License
* The Original Code is: vtiger CRM Open Source
* The Initial Developer of the Original Code is vtiger.
* Portions created by vtiger are Copyright (C) vtiger.
* All Rights Reserved.
************************************************************************************/
-->*}

{strip}
{assign var=LISTVIEW_MASSACTIONS_1 value=array()}
{assign var=FIRST value=$FIRST}
{assign var=LAST value=$LAST}
<div id="listview-actions" class="listview-actions-container" data-sikna="true">
    {foreach item=LIST_MASSACTION from=$LISTVIEW_MASSACTIONS name=massActions}
    {if $LIST_MASSACTION->getLabel() eq 'LBL_EDIT'}
    {assign var=editAction value=$LIST_MASSACTION}
    {else if $LIST_MASSACTION->getLabel() eq 'LBL_DELETE'}
    {assign var=deleteAction value=$LIST_MASSACTION}
    {else if $LIST_MASSACTION->getLabel() eq 'LBL_ADD_COMMENT'}
    {assign var=commentAction value=$LIST_MASSACTION}
    {else}
    {$a = array_push($LISTVIEW_MASSACTIONS_1, $LIST_MASSACTION)}
    {* $a is added as its print the index of the array, need to find a way around it *}
    {/if}
    {/foreach}
    
    <div class="row">
        <div class="col-md-10">
            <div class="listViewActionsContainer" role="group" aria-label="..." style="display: inline-flex;">
                <input id="range" type="hidden" name="range" class="inputElement dateField" data-date-format="yyyy-mm-dd" data-calendar-type="range" data-field-type="date" style="width:150px;" placeholder="{$FIRST},{$LAST}">

                <select id="format" class="inputElement" style="margin-left: 20px; width:130px;">
                    <option value="Agnum">Agnum</option>
                </select>

                <button type="button" id="exportPaymentBtn" style="margin-left: 20px; color: white;" class="btn btn-success" disabled>Eksportuoti</button>

                <input type="checkbox" class="inputElement" id="showExported" style="margin-right: 5px; margin-left:10px;"> Rodyti ir eksportuotas saskaitas
            </div>
        </div>
        <div class='col-md-2'>


            {if $LISTVIEW_ENTRIES_COUNT eq '0' and $REQUEST_INSTANCE and $REQUEST_INSTANCE->isAjax()}
            {if $smarty.session.lvs.$MODULE.viewname}
            {assign var=VIEWID value=$smarty.session.lvs.$MODULE.viewname}
            {/if}
            {if $VIEWID}
            {foreach item=FILTER_TYPES from=$CUSTOM_VIEWS}
            {foreach item=FILTERS from=$FILTER_TYPES}
            {if $FILTERS->get('cvid') eq $VIEWID}
            {assign var=CVNAME value=$FILTERS->get('viewname')}
            {break}
            {/if}
            {/foreach}
            {/foreach}
            {assign var=DEFAULT_FILTER_URL value=$MODULE_MODEL->getDefaultUrl()}
            {assign var=DEFAULT_FILTER_ID value=$MODULE_MODEL->getDefaultCustomFilter()}
            {if $DEFAULT_FILTER_ID}
            {assign var=DEFAULT_FILTER_URL
            value=$MODULE_MODEL->getListViewUrl()|cat:"&viewname="|cat:$DEFAULT_FILTER_ID|cat:"&app="|cat:$SELECTED_MENU_CATEGORY}
            {/if}
            {if $CVNAME neq 'All'}
            <div>{vtranslate('LBL_DISPLAYING_RESULTS',$MODULE)} {vtranslate('LBL_FROM',$MODULE)} <b>{$CVNAME}</b>. <a
                    style="color:blue" href='{$DEFAULT_FILTER_URL}'>{vtranslate('LBL_SEARCH_IN',$MODULE)}
                    {vtranslate('All',$MODULE)} {vtranslate($MODULE, $MODULE)}</a> </div>
            {/if}
            {/if}
            {/if}
            {* <div class="hide messageContainer" style="height:30px;">
                <center><a href="#" id="selectAllMsgDiv">{vtranslate('LBL_SELECT_ALL',$MODULE)}&nbsp;{vtranslate($MODULE
                        ,$MODULE)}&nbsp;(<span id="totalRecordsCount" value=""></span>)</a></center>
            </div>
            <div class="hide messageContainer" style="height:30px;">
                <center><a href="#" id="deSelectAllMsgDiv">{vtranslate('LBL_DESELECT_ALL_RECORDS',$MODULE)}</a></center>
            </div> *}

        </div>
        {* <div class="col-md-3"> *}
            {* {assign var=RECORD_COUNT value=$LISTVIEW_ENTRIES_COUNT} *}
            {* {include file="Pagination.tpl"|vtemplate_path:$MODULE SHOWPAGEJUMP=true} *}
            {* </div> *}
    </div>
</div>
<div class="alert alert-danger hide" id="alert_message" style="margin-top: 10px; width: 50%;"></div>

{/strip}