{*+**********************************************************************************
* The contents of this file are subject to the vtiger CRM Public License Version 1.1
* ("License"); You may not use this file except in compliance with the License
* The Original Code is: vtiger CRM Open Source
* The Initial Developer of the Original Code is vtiger.
* Portions created by vtiger are Copyright (C) vtiger.
* All Rights Reserved.
************************************************************************************}

{include file="modules/Vtiger/partials/Topbar.tpl"}

<div class="container-fluid app-nav">
	<div class="row">
		{include file="partials/SidebarHeader.tpl"|vtemplate_path:$MODULE}
		{include file="ModuleHeader.tpl"|vtemplate_path:$MODULE}
	</div>
</div>
</nav>
<div id='overlayPageContent' class='fade modal overlayPageContent content-area overlay-container-60' tabindex='-1' role='dialog' aria-hidden='true'>
	<div class="data">
	</div>
	<div class="modal-dialog">
	</div>
</div>  
<div class="main-container main-container-{$MODULE}">
		{assign var=LEFTPANELHIDE value=$CURRENT_USER_MODEL->get('leftpanelhide')}
		<div id="modnavigator" class="module-nav">
			<div class="hidden-xs hidden-sm mod-switcher-container">
				{include file="partials/Menubar.tpl"|vtemplate_path:$MODULE}
			</div>
		</div>
		<div id="sidebar-essentials" class="sidebar-essentials {if $LEFTPANELHIDE eq '1'} hide {/if}">
			{include file="partials/SidebarEssentials.tpl"|vtemplate_path:$MODULE}
		</div>
    {if $MODULE eq 'Candidates'}
		<div class = "row" style="">
			<div class="btn-group col-md-2"></div>
			<div class='col-md-7' style="padding-top: 5px;text-align: center;">
				<div class="btn-group candidateFilter" style="text-align: center;">
					<button class="btn btn-default btn-primary" id="potentialCandidates" data-searchvalue="Potential">
						{vtranslate('Potential', $MODULE)}		
					</button>
					<button class="btn btn-default" id="inactiveCandidates" data-searchvalue="Inactive">
						{vtranslate('Inactive', $MODULE)}	
					</button>
					<button class="btn btn-default" id="failedCandidates" data-searchvalue="Failed">
						{vtranslate('Failed', $MODULE)}	
					</button>
				</div>
			</div>
		</div>
    {/if}
		<div class="listViewPageDiv content-area {if $LEFTPANELHIDE eq '1'} full-width {/if}" id="listViewContent">

