.opex-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.opex-table td, .opex-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.opex-table .side-border td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.popover-content li {
  list-style: decimal !important;
}

#listview-table .collapse li:nth-child(odd){background-color: #f2f2f2;}

/* .opex-table tr:nth-child(even){background-color: #f2f2f2;} */

.opex-table tbody tr:hover:not(.except) {
  background-color: #ddd !important;
  cursor: pointer;
}

.hover:hover {
  color: #4d90fe !important;
  cursor: pointer;
}

.opex-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #aaa;
  color: white;
}

.opex-table .titles {
  font-weight: 700;
}

.green-color {
  color: #00b069;
}

.red-color {
  color: #ff003a;
}

.blue-color {
  color: #3133cf;
}

.grey-color {
  color: #8497b0;
}

.light-green-background {
  background: #e2efda;
}

.yealow-background {
  background: #ffff00;
}

.orange-background {
  background: #ffc000;
}

.grey-background {
  background: #f2f2f2;
}

.light-blue-background {
  background: #d9e1f2;
}

.opex-table tr td:last-child:not(.titles) {
  background: #ffffcc;
}

.hiddenInfoInput {
  width: 60px;
}

.rowValue {
  padding: 10px 10px;
}