.listview-table > thead > tr > th {
  text-align: center !important;
}

.listview-table > tbody > tr > td {
  text-align: center;
  padding: 13px 0;
}

.btn[disabled] {
  opacity: 0.5;
}

/* .listViewEntries td:not(:first-child) {
  cursor: unset;
} */

.listview-table tr td:first-child, .listview-table tr th:first-child {
  width: unset;
}

.table-container {
  border: unset;
  margin-top: unset;
}

.app-fixed-navbar {
  border-bottom: 1px solid #ddd !important;
}

.price-bold {
  font-weight: bold;
}


.pagination {
  display: inline-flex;
  justify-content: center !important;
  width: 100%;
  margin-top: 30px;
}

.pagination div {
  display: inline-flex;
  float: left;
  padding: 8px 16px;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}


.wrapper {
  height: 600px;
}
#jrange input {
  width: 200px;
}
#jrange div {
  font-size: 9pt;
}
.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
  background: none;
  background-color: lightsteelblue;
}